/* -- ==================================================================
ESCRITORIO - XL revisamos en 1366px en adelante
===================================================--> */
* {
    font-family: 'Open Sans', sans-serif;
}

ul, ol{
    list-style: none;
}

a:visited, a:link, a:focus, a:hover, a:active{
    list-style: none;
    text-decoration: none;
}

body{
    background: white;
}

/* ============================== */
/*      HEADER                   */
/* ============================== */
header .logotipo{
    width: 97%;

}

#titulo{
    /*position:absolute;*/
    /*height:44px;*/
    width:95%;
    /*right:55px;*/
    /*top:30px;*/
    /*line-height:44px;*/
    font-size: 20px;
    color:white;
    text-align:right;
    /*padding-right: 10px;*/
    background: linear-gradient(to left, #004669, white);
}

#cuadroNaranja{
    /*position:absolute;*/
    /*height:44px;*/
    width:6px;
    /*right:50px;*/
    /*top:30px;*/
    /*line-height:44px;*/
    background:chocolate;
}
#cuadroAmarillo{
    /*position:absolute;*/
    /*height:44px;*/
    width:9px;
    /*right:41px;*/
    /*top:30px;*/
    /*line-height:44px;*/
    background:orange;
}

/* ============================== */
/*      BARRA DE NAVEGACION       */
/* ============================== */
nav{
    background: #004669;

}

.custom-toggler.navbar-toggler {
    border-color: lightgreen;
}

.menu-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

    /* :link - :visited - :focus - :hover - :active */
    nav ul li a{

        color: white;

    }

nav ul li i{
    font-size: 30px;
    /*width:45px;*/
    /*line-height: 45px;*/

}

/* ============================== */
/*      BANNER - SLIDE            */
/* ============================== */

/* ============================== */
/*      Sección - Artículo        */
/* ============================== */
h6{
    font-weight: bold;
}

article ul li{
    list-style: disc;
}

/* ============================== */
/*    Sección - ASIDE- Enlaces    */
/* ============================== */

aside{
    background:rgba(230, 230, 230, 1);
}

aside h5{
    /*font-weight: bold;*/
    color: rgba(244, 121, 32, 1);
}

aside li{
    font-size:14px;
}

#dirUnidades{
    background: #3071ff;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 5px 5px 5px 5px;
}

#necesitasAyuda{
    background: #f47920;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 5px 5px 5px 5px;
}

/* -- =================================================
        PIE DE PAGINA - DATOS DE CONTACTO
====================================================--> */

footer div img[src="img/logos-iso-2021.jpg"]{
    width: 60%;
}

footer div img[src="img/pread1.jpg"]{
    width: 12%;
}

footer div img[src="img/gwtp2021.jpg"]{
    width: 12%;
}
footer div img[src="img/icontec2021.jpg"]{
    width: 12%;
}

.naranja{
    color: orangered;
}

footer p{
    color: midnightblue;
    font-size: 13px;
}

footer i{
    font-size: 35px;
}


/* -- =================================================
TABLET HORIZONTAL - LG revisamos en 1024px
====================================================--> */
@media (max-width: 1199px) and (min-width: 992px) {
    
}

/* -- =================================================
TABLET VERTICAL - MD revisamos en 768px
====================================================--> */
@media (max-width: 991px) and (min-width: 768px) {

    header .logotipo{
        width: 100%;

    }

    #titulo{

        font-size: 16px;
    }

    nav{
        font-size: 13px;


    }

    footer div img[src="img/logos-iso-2021.jpg"]{
        width: 85%;
    }

    footer div img[src="img/pread1.jpg"]{
        width: 18%;
    }

    footer div img[src="img/gwtp2021.jpg"]{
        width: 18%;
    }{}
    footer div img[src="img/icontec2021.jpg"]{
        width: 18%;
    }
}

/* -- =================================================
MÓVIL HORIZONTAL - SM revisamos en 576px
====================================================--> */
@media (max-width: 767px) and (min-width: 576px) {

    header .logotipo{
        width: 85%;

    }

    #titulo{

        width: 100%;
        font-size: 18px;
        /*text-align: center;*/
    }

    footer div img[src="img/logos-iso-2021.jpg"]{
        width: 100%;
    }

    footer div img[src="img/pread1.jpg"]{
        width: 20%;
    }

    footer div img[src="img/gwtp2021.jpg"]{
        width: 20%;
    }{}
    footer div img[src="img/icontec2021.jpg"]{
        width: 20%;
    }

}

/* -- =================================================
MÓVIL VERTICAL -  revisamos en 320px
====================================================--> */
@media (max-width: 575px) {

    #titulo{

        font-size: 19px;
        /*text-align: center;*/
    }

    footer div img[src="img/logos-iso-2021.jpg"]{
        width: 95%;
    }

    footer div img[src="img/pread1.jpg"]{
        width: 18%;
    }

    footer div img[src="img/gwtp2021.jpg"]{
        width: 18%;
    }{}
    footer div img[src="img/icontec2021.jpg"]{
        width: 18%;
    }

    footer p{
        font-size: 16px;
    }

}