* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

/*body{*/
/*    background:url(../images/modelo1.png);*/
/*    background-position:top center;*/
/*    height: 1507px;*/
/*}*/

header{
    position: relative;
    margin:auto;
    width:1000px;
    height:105px;
    background:white;
}

#logo{
    position:absolute;
    left:0;
    padding-left:37px;
    padding-top:15px;
}
#titulo{
    position:absolute;
    height:44px;
    width:600px;
    right:55px;
    top:30px;
    line-height:44px;
    font-size: 18px;
    color:white;
    text-align:right;
    padding-right: 10px;
    background: linear-gradient(to left, #004669, white);
}

#cuadroNaranja{
    position:absolute;
    height:44px;
    width:6px;
    right:50px;
    top:30px;
    line-height:44px;
    background:chocolate;
}
#cuadroAmarillo{
    position:absolute;
    height:44px;
    width:9px;
    right:41px;
    top:30px;
    line-height:44px;
    background:orange;
}

nav{
    position: relative;
    margin:auto;
    width:1000px;
    height:58px;
    background:rgba(0,70,105,1);
}

nav div{
    float: right;
    width:80px;
    height:58px;
    line-height:58px;
    color:white;
}

nav li{
    float: left;
    margin-left: 40px;
    /*width:130px;*/
    height:58px;
    line-height:58px;
    color:white;
}

#slide{
    position: relative;
    margin:auto;
    width:1000px;
    height:210px;
    background:url("../images/Banner-gidt.jpg");
    background-position:center;
    background-size: contain;
}

article{
    position: relative;
    margin:auto;
    width:1000px;
    height: 530px;
    background:white;
    padding-bottom: 40px;
    /*display: none;*/
}
h4{
    margin:20px 70px;
}

p{
    padding: 20px 70px;
}

hr{
    margin: 0 70px;
    border: 0;
    border-top: 1px solid #eee;

}

p.centerBlack{
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

article ul li{
    list-style: disc;
    margin: 0 100px;
}
#bottom{
    position: relative;
    margin:auto;
    width:1000px;
    height:330px;
    background:rgba(230, 230, 230, 1);
}
#bottom li{
    padding: 4px 0;
    font-size:14px;
}


h2{
    color: rgba(244, 121, 32, 1);
    font-size: 23px;
    font-weight: normal;
}

#gobierno{
    float: left;
    width: 215px;
    padding-left: 39px;
    padding-top:15px;
}

#bottom id#enlacesInteres{
    float: left;
    width: 210px;
    height: 300px;
    padding: 11px 22px;
}

#normatividad{
    float: left;
    width: 215px;
    padding-top: 10px;
    padding-left: 8px;

}

#otros1{
    float: left;
    width: 245px;
    height: 300px;
    padding-top: 10px;
    padding-left: 20px;
}

#dirUnidades{
    padding: 8px;
    background: #4d4df1;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 5px 5px 5px 5px;
}

#necesitasAyuda{
    margin-top:8px;
    padding: 8px;
    background: darkorange;
    width: 200px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 5px 5px 5px 5px;
}

footer{
    position: relative;
    margin:20px auto;
    width:1000px;
    background:white;
}
footer div{
    float: left;
    /*width: 400px;*/
}
footer div img[src="images/pieVariosLogos.png"]{
    width:400px;
}
footer div img[src="images/pieDerecha.png"]{
    width:600px;
}